--- 
--- 

@import "{{ site.theme }}";


/*******************
 * OVERRIDE STYLES *
 *******************/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #b5e853
}

.container {
  &:last-of-type:has(#main_content) {
    margin-block-end: 5rem ;
  }
}

#main_content {
  >p,
  >ul,
  >div {
    margin-inline-start: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    // border-top: double .5rem teal;
  }

  h3 {
    font-size: 1.5rem;
    margin-inline-start: 1rem;
  }

  h4 {
    font-size: 1.25rem;
    margin-inline-start: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    // margin-inline-start: 1.5rem;
  }

  strong {
    color: teal;
    // text-decoration: underline;
  }

  // hr {
  //   + :is(h2){
  //     border-top: unset;
  //   }
  // }

  * + {
    h1 {
      margin-block-start: 5rem;
    }

    h2 {
      margin-block-start: 3rem;
    }

    h3, h4 {
      margin-block-start: 2rem;
    }

    h5 {
      margin-block-start: 1rem;
    }
  }
}

